.search-input {
    padding-left: 20px;
}
.prize-wheel-slice {
    position: absolute;
    text-align: right;
    border-radius: 50%;
    line-height: 0;
    color: #fff;
    z-index: 1;
    left: 50%;
    top: 50%;
    right: 75px;
    transform-origin: 0 0;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
.bg-lucky-spin {
    background: url(../img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw !important;
    height: 100vh;
}
.wheel-size {
    width: 485px;
}
.scale-wheel {
    transform: scale(0.8);
    font-size: 12px;
}
/* .form-voucher {
    top: 0;
} */
.bw-table tr > td {
    vertical-align: middle !important;
}
.ip-h-screen {
    min-height: 100vh;
}
.focus\:shadow-none:focus {
    box-shadow: none !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media only screen and (max-width: 768px) {
    .wheel-size {
        width: 340px !important;
    }
    .prize-wheel-slice {
        position: absolute;
        text-align: right;
        border-radius: 50%;
        line-height: 0;
        color: #fff;
        z-index: 1;
        left: 50%;
        top: 50%;
        right: 50px;
        font-size: 12px;
        transform-origin: 0 0;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}
@media only screen and (max-width: 430px) {
    .wheel-size {
        width: 360px !important;
    }
}
@media only screen and (max-width: 414px) {
    .wheel-size {
        width: 340px !important;
    }
}
@media only screen and (max-width: 390px) {
    .wheel-size {
        width: 320px !important;
    }
}
@media only screen and (max-width: 375px) {
    .wheel-size {
        width: 310px !important;
    }
}
@media only screen and (max-height: 667px) {
    .form-voucher {
        top: 60px;
    }
}
@supports (-webkit-touch-callout: none) {
    .ip-h-screen {
        min-height: -webkit-fill-available;
        height: 100vh;
    }
}
